:root{
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Epilogue', sans-serif;
}

.container {

}

.nav__img {
  width: 50px;
}

.nav__hamburguer {
  width: 30px;
  height: 40px;
  background-image: url("../images/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: red;
}

.nav__overlay {

}

.nav__menu {

}

.nav__item {

}

.nav__parent{ 

}

.nav__arrow {

}

.nav__inner {

}

.nav__dropdown {

}

.nav__link {

}

.nav__illustration {

}